<div>
	Card Name
	<!--input id="cardname" type="text"-->
	<%= select("cardname", nil, options_for_select(getAllAttrValues("cards", "Cards", "CardName"))) %>
	Card Level<br>
	<input id="cardlevel" type="number" value="10" min="0" max="15"><br>
	Card Evo Skill
	<%= select("cardevoskill", nil, options_for_select(getAllAttrValues("skills", "Skills", "Name"))) %>
	<!--input id="cardevoskill" type="text"-->
	
	<button onclick="confirmAddCard()" type="button">Add card</button>
	<button onclick="hideNewCardUI()" type="button">Cancel</button>
</div>
