// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table,th,td {
	border: 1px solid black;
}
dt {
	font-weight: bold;
	display: inline-block
}

#decks_div div:nth-child(even) {
	background: lightgrey;	
}
#decks_div div:nth-child(odd) {
	background: lightgreen;	
}
#decks_div div {
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 20px;
	margin-top: 10px;
	height: 100%;
}
p {
	padding-left: 20px
}
textarea {
	resize: both;
	height: 2000px;
	width: 500px;
	white-space: nowrap;
	overflow: auto;
}
#cardslistdiv {
	display: none
}
#new_card_ui {
	display: none;
	background-color: turquoise;
	border-width: 2px;
	width:170px;
	margin: 0 auto;
	padding: 20px;
}
#deck_cards {
	display: none
}

.arrow {
	cursor: pointer;
	color: white;
	border: 1px solid #AEAEAE;
	border-radius: 5px;
	background: #605F61;
	font-size: 8px;
	font-weight: bold;
	display: inline-block;
	line-height: 0px;
	padding: 4px 2px;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 1px;
	text-align: right;
	cursor: pointer;
}
.arrow:before{
	content: "x";
}
label {
	font-weight: bold
}
.card {
	background-color: turquoise;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	position: relative;
}
