// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dt {
	font-weight: bold
}
#deck_div {
	display: inline-block;
	margin-left: 40px
}
